* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --slate: #434455;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background: var(--white);
}

/* index classes */

.description-main {
  background-color: var(--navyblue);
  padding: 188px 0;
}

.button-main {
  background-color: var(--iris);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.button-main:hover,
.button-main:focus {
  background-color: var(--ocean);
}

.header-main-top {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
}

.image-background {
  background-color: var(--white);
}

.bottom-main-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
}

.second-description-main {
  padding: 120px 0;
}

.list-main {
  gap: 24px;
}

.bottom-main-top {
  padding: 120px;
}

.bottom-main-inside {
  margin-bottom: 72px;
}

.list-main-bottom {
  width: calc((100% - 48px) / 3);
}

.bottom-images {
  padding: 120px 0;
}

.list-bottom-images {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}

.people-description {
  padding: 32px 0px;
}

.header-bottom-people {
  text-align: center;
  margin-bottom: 8px;
}

.header-bottom-job {
  text-align: center;
}

/* all pages classes */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.logo-color {
  color: var(--navyblue);
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  display: flex;
}

.list-nav {
  gap: 40px;
}

.list-main-inside {
  width: calc((100% - 72px) / 4);
}

.address-list {
  font-style: normal;
}

.header-main {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.address-links {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  display: flex;
  gap: 40px;
}

.address-links:hover,
.address-links:focus {
  color: var(--ocean);
}

.nav-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  padding: 24px 0;
}

.nav-links:hover,
.nav-links:focus {
  color: var(--ocean);
}

.paragraph-main {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.footer-main {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.bottom-main {
  background-color: var(--cloud);
}

.logo-second-color {
  color: var(--cloud);
}

.footer-paragraph {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--cornflower);
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* portfolio classes */

.buttons-header {
  color: var(--iris);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--cloud);
}

.buttons-header:hover,
.buttons-header:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/* other */
