:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #ffffff;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.link {
  text-decoration: none;
}

.logo-color {
  color: #2e2f42;
}

.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list:hover .list:active {
  color: #404bbf;
}

.address-list {
  font-style: normal;
}

.buttons {
  background-color: #2e2f42;
}

.header-portfolio {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.buttons-header {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.buttons-header:hover .buttons-header:active {
  background-color: #404bbf;
}

.header-images {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-links:hover {
  color: #404bbf;
}

.address-links {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-links:hover .address-links:active {
  color: #404bbf;
}
