* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --slate: #434455;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --green: #31d0aa;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background: var(--white);
}

/* index classes */

.description-main {
  background-color: var(--navyblue);
  padding: 188px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg');
  margin: auto;
}

.button-main {
  background-color: var(--iris);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.button-main:hover,
.button-main:focus {
  background-color: var(--ocean);
}

.header-main-top {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.image-background {
  background-color: var(--white);
}

.bottom-main-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
}

.second-description-main {
  padding: 120px 0;
}

.list-main {
  gap: 24px;
}

.bottom-main-top {
  padding-bottom: 120px;
}

.bottom-main-inside {
  margin-bottom: 72px;
}

.list-main-bottom {
  width: calc((100% - 48px) / 3);
}

.bottom-images {
  padding: 120px 0;
}

.list-bottom-images {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}

.people-description {
  padding: 32px 0px;
}

.header-bottom-people {
  text-align: center;
  margin-bottom: 8px;
}

.header-bottom-job {
  text-align: center;
}

.logos-people-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos-people-link:hover,
.logos-people-link:focus {
  background-color: var(--ocean);
}

.svgs {
  fill: var(--cloud);
}

.logos-people-icons {
  width: 40px;
  height: 40px;
}

.logos-people {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-header {
  font-size: 36px;
  line-height: 1.11;
  color: var(--navyblue);
  margin-bottom: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers-list {
  display: flex;
  gap: 24px;
}

.customers-inside {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.customers-icons {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

/* all pages classes */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.logo-color {
  color: var(--navyblue);
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  display: flex;
}

.list-nav {
  gap: 40px;
}

.list-main-inside {
  width: calc((100% - 72px) / 4);
}

.address-list {
  font-style: normal;
}

.header-main {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.address-links {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.address-links:hover,
.address-links:focus {
  color: var(--ocean);
}

.nav-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  padding: 24px 0;
}

.nav-links:hover,
.nav-links:focus {
  color: var(--ocean);
}

.paragraph-main {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.footer-main {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.bottom-main {
  background-color: var(--cloud);
}

.logo-second-color {
  color: var(--cloud);
}

.footer-paragraph {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-border {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid var(--cornflower);
}

.footer {
  display: flex;
  align-items: baseline;
}

.footer-position {
  margin-right: 120px;
}

.socials-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.socials-list {
  display: flex;
  gap: 16px;
}

.socials-icons {
  height: 40px;
  width: 40px;
}

.socials-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--green);
}

.socials-icons-display {
  fill: var(--cloud);
}

/* portfolio classes */

.buttons-header {
  color: var(--iris);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--cloud);
}

.buttons-header:hover,
.buttons-header:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.section-main {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.buttons-visuals {
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}

.buttons-visuals:hover,
.buttons-visuals:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-portfolio-main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.list-portfolio-images {
  width: calc((100% - 48px) / 3);
}

.list-portfolio-description {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
  margin-bottom: 8px;
}

.buttons-link {
  display: block;
}

.buttons-link:hover,
.buttons-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* other */
