* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --slate: #434455;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background: var(--white);
}

/* index classes */

.description-main {
  background-color: var(--navyblue);
}

.button-main {
  background-color: var(--iris);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
}

.button-main:hover,
.button-main:focus {
  background-color: var(--ocean);
}

.header-main-top {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.image-background {
  background-color: var(--white);
}

.bottom-main-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
}

/* all pages classes */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-color {
  color: var(--navyblue);
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.address-list {
  font-style: normal;
}

.header-main {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.address-links {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.address-links:hover,
.address-links:focus {
  color: var(--ocean);
}

.nav-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.nav-links:hover,
.nav-links:focus {
  color: var(--ocean);
}

.paragraph-main {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.footer-main {
  background-color: var(--navyblue);
}

.bottom-main {
  background-color: var(--cloud);
}

.logo-second-color {
  color: var(--cloud);
}

.footer-paragraph {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}

.container {
  max-width: 1158px;
  paddin: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* portfolio classes */

.buttons-header {
  color: var(--iris);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--cloud);
}

.buttons-header:hover,
.buttons-header:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/* other */
